.footer {
  color: #545454;
  margin: 67px 0 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .footer {
    display: grid;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
