.footer {
  color: #545454;
  margin-top: 67px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .footer {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 480px) and (max-width: 930px) {
  .footer {
    max-width: calc(880px - 300px);
  }
}
