@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 36px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px;
  }

  .cards {
    padding-top: 36px;
    margin: 0;
  }

  .footer {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 480px) and (max-width: 930px) {
  .page {
    color: white;
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .footer {
    color: #545454;
    margin-top: 67px;
    margin-left: 60px;
  }

  .profile__add-button {
    margin-left: auto;
  }
}
