popup {
  font-family: "Inter", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup__container {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  min-height: 330px;
}

.popup__container_large {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.popup__caption {
  position: absolute;
  bottom: -26px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: white;
}

.popup__close {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.popup__heading {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0;
  padding: 34px 64px 54px 36px;
}

.popup__form {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  padding: 0 36px 36.51px;
}

.popup__input {
  width: 100%;
  margin-bottom: 5px;
  border: 1px;
  height: 27.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: 2px solid cornflowerblue;
}

.popup__input:last-of-type {
  height: 27.34px;
}

.popup__button {
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 48px;
}

.popup__error {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ff0000;
  position: absolute;
  display: inline-block;
  max-width: 66%;
}

.popup__input_type_description,
.popup__input_type_url {
  margin-top: 29.74px;
}

.popup__button_disabled {
  pointer-events: none;
  opacity: 0.2;
}

.popup__input_type_error {
  border-bottom: 2px solid red;
}

.popup__container:hover,
.popup__container_large:hover,
.popup__button:hover {
  cursor: pointer;
}

.popup__close:hover,
.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .popup__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 25px);
  }

  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding-left: 22px;
    padding-right: 16px;
  }

  .popup__container_large {
    max-width: 240px;
    max-height: 299px;
  }

  .popup__heading {
    font-size: 18px;
    line-height: 21.78px;
    padding: 25px 0 0;
  }

  .popup__form {
    padding: 75px 0 25px 0;
  }

  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
